h1{
    margin-top: 10%;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    font-weight:50% ;
    
    
}

.padre{
    display:flex; 
    justify-content:space-around;
    width: 100%;
    height: 100%;
    font-size: 70%;
    font-family: 'Courier New', Courier, monospace;
    align-items: flex-start;   
}

.texto{
    color: white;
    text-align: center;
    position:relative;
    bottom: 55px;
    left:0 ;
    text-shadow: 3px 3px 3px #424242;
   

    
   

}

.entrada{
    border-radius: 50%;
    width: 100%;
    box-shadow: 5px 5px 10px #424242;
}
.intereses{
    background: none repeat scroll 50% 50% ;
    box-shadow: 5px 5px 10px #424242;
}    
