h1{
    margin-top: 10%;
    font-family: 'Caveat', cursive;
    text-align: center;
    font-size:2.5em ;   
}
body{
    background-color: rgba(46, 150, 150, 0.541);
}

.menu{
   background: rgba(204, 204, 204, 0.685);
}

a{
    text-decoration: none;
    margin: 2px 10px 2px 10px;
    text-align: left;
}
.menu li{
    list-style: none;
    padding:5px;
    font: bold 18px 'Caveat', cursive;
    display: inline-block;
    text-decoration: none;

} 
.padre{
    display:flex; 
    flex-direction:row;
    flex-wrap:nowrap ;
    align-items: center;
    justify-content:space-around;
    width: 100%;
    height: 100%;
    font-size: 100%;
    font-family:'Caveat', cursive;
    align-items: center;   
}

.hijo{
    height: inherit;
}

.texto{
    color: white;
    text-align: center;
    position:relative;
    bottom: 66px;
    left:0 ;
    text-shadow: 3px 3px 3px #424242;
    font-family:'Caveat', cursive;
}
.texto2{
    color: white;
    text-align: center;
    position:relative;
    margin-bottom: 10px;
    text-shadow: 3px 3px 3px #424242;
    font-family:'Caveat', cursive;
}
    .entrada{
    border-radius: 50%;
    width: 100%;
    box-shadow: 5px 5px 10px #424242;
   }
    /* .hijo3{
    filter: drop-shadow(0 2px 10px rgba(0,0,0,0.7));
    background: none repeat scroll 50% 50% ; */


.hobby,.ciudad,.brooklyn{
    /* display:inline-block; */
    
    
}
.cerebro{
    height:auto;
    align-items: center;
    width: 45vw;
    margin-left:auto;
    margin-right: auto;
    display: block;
}

.grid {
    display:grid;
    height: 80vh;
    width: 80vw;
    position:relative;
    top:30px ;
    left: 7em;
    grid-template-columns: 3fr 2fr 2fr ;
    grid-template-rows: 2fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 10px;
}  
   
  

.a{
   background: rgba(240, 239, 239, 0.541);
   border: 10px solid rgb(250, 6, 6);
   padding-top: 1%;
   border-radius: .9rem; /* bordes redondeados */
   margin:5px;
}
.b{
   background: rgb(125, 247, 241);
   border: 10px solid rgb(25, 114, 173);
   padding-top: 1%;
   border-radius: 11rem; 
   margin:5px;
}

.c{
   background: rgba(202, 243, 89, 0.651);
   border: 10px solid rgb(255, 145, 0);
   padding-top: 1%;
   border-radius: 5rem;
   margin:5px;
}
 .c:hover{
    background: rgba(146, 161, 104, 0.651);   
} 
.c a p b:hover{
    color: white;
}
.grid p b {
    font-size:1.5em ;
}
.d{
   background: rgb(247, 235, 125);
   border: 10px solid rgb(181, 209, 20);
   padding-top: 1%;
   border-radius: 8rem;
   margin:5px;
}

.e  {
   background: rgba(252, 252, 252, 0.788);
   border: 10px solid rgb(253, 188, 9);
   padding-top: 1%;
   border-radius: 1rem;
   margin:5px;
} 
.d:hover{
    background: rgba(146, 161, 104, 0.651);   
}
.d a p b:hover{
    color: white;
} 

.f {
    background: rgb(184, 241, 166);
    border: 10px solid rgb(252, 13, 5);
    padding-top: 1%;
    border-radius: 6rem;
    margin:5px;
 } 
 
  p{
    text-align: center;
    font-family:'Caveat', cursive;
    color: rgb(71, 71, 71);
    text-emphasis: wrap;
    position: relative;
    top:0.3em;
    font-size:2em ;
   
 
   
 }


@media(min-width:540px) and (max-width:1071px)
{ 
   
    .padre{
        display: flex;
        flex-direction: column;  
    }


     .intereses{
            display: flex;
            flex-direction:column;
            justify-content: center;      
     }
    .cerebro{
        width: 75vw;
    }
}

@media (max-width:710px)
{ 
   
    .padre{
        display: flex;
        flex-direction: column;
        justify-content:space-around; 
        width: 40%;
        height: 30%;
    }
    
    .cite{
        margin-top: 1%;
        font-size: 1.5em;
        font-display: center;
    }
    .intereses{
        display: flex;
        flex-direction: column;
        justify-content:center; 
        width: 25%;
        height: 15%;
    }
    .cerebro{
        width: 75vw;
    }
    .grid{
        grid-template-columns: 3fr 2fr ;
        grid-template-rows: 2fr 1fr 2fr;
        left: 0.5em;
        grid-column-gap: 20px;
    }
    .grid p b {
        font-size:1.5em ;
    }

}

@media (max-width:376px)
{
    .grid{
        grid-template-columns: 3fr;
        grid-template-rows: 2fr 1fr 2fr 1fr;
        left: 0.5em;
    }
    .grid p b {
        font-size:1.2em ;
    }

}