h1{
    margin-top: 10%;
    font-family: 'Caveat', cursive;
    text-align: center;
    font-size: 6em;
    
}
body{
    background-color: rgba(46, 150, 150, 0.541);
    text-align: center;
}

.menu{
   background: rgba(204, 204, 204, 0.685);
}

a{
    text-decoration: none;
    margin: 2px 10px 2px 10px;
    text-align: left;
}
.menu li{
    list-style: none;
    padding:5px;
    font: bold 18px 'Caveat', cursive;
    display: inline-block;
    text-decoration: none;

} 
.padre{
    display:flex; 
    flex-direction:row;
    flex-wrap:nowrap ;
    align-items: center;
    justify-content:space-around;
    width: 100%;
    height: 100%;
    font-size: 100%;
    font-family:'Caveat', cursive;
    align-items: center;   
}

.hijo{
    height: inherit;
}
.hijo:hover{
    transform: scale(1.1);
}

.texto{
    color: white;
    text-align: center;
    position:relative;
    bottom: 82px;
    left:0 ;
    text-shadow: 3px 3px 3px #424242;
    font-family:'Caveat', cursive;
}
.texto2{
    color: white;
    text-align: center;
    position:relative;
    margin-bottom: 10px;
    text-shadow: 3px 3px 3px #424242;
    font-family:'Caveat', cursive;
}
.entrada{
    border-radius: 50%;
    width: 100%;
    box-shadow: 5px 5px 10px #424242;
}
   
.cerebro{
    /* background: #424242; */
    margin: 0 auto;
    width: 90%;
}

img[usemap] {
	border: none;
	height: auto;
    max-width: 100%;
	width: auto;
} 

.grid {
    display:grid;
    height: 80vh;
    width: 80vw;
    position:relative;
    top:30px ;
    left: 7em;
    grid-template-columns: 3fr 2fr 2fr ;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 10px;
}
.grid p b {
    font-size:1.5em ;
}  
   
.yo{
   background: rgba(240, 239, 239, 0.541);
   border: 10px solid rgb(250, 6, 6);
   padding-top: 1%;
   border-radius: 1rem; /* bordes redondeados */
   margin:5px;
}
.unagi{
   background: rgb(125, 247, 241);
   border: 10px solid rgb(25, 114, 173);
   padding-top: 1%;
   border-radius: 5rem; 
   margin:5px;
}
.unagi:hover{
    background:rgba(141, 188, 219, 0.623) ;   
}
.unagi a p b:hover{
    color: white;
}

.ciudad{
   background: rgba(202, 243, 89, 0.651);
   border: 10px solid rgb(255, 145, 0);
   padding-top: 1%;
   border-radius: 5rem;
   margin:5px;
}

.ciudad:hover{
    background: rgba(146, 161, 104, 0.651);   
} 

.ciudad a p b:hover{
    color: white;
}

.idiomas {
    background: rgb(184, 241, 166);
    border: 10px solid rgba(50, 160, 59, 0.699);
    padding-top: 1%;
    border-radius: 4em;
    margin:5px;
}

.humor  {
   background: rgba(252, 252, 252, 0.788);
   border: 10px solid rgb(253, 188, 9);
   padding-top: 1%;
   border-radius: 5rem;
   margin:5px;
}

.creativa{
    background: rgb(247, 235, 125);
    border: 10px solid rgb(181, 209, 20);
    padding-top: 1%;
    border-radius: 1rem;
    margin:5px;
}

.creativa:hover{
    background: rgba(146, 161, 104, 0.651);   
}

.creativa a p b:hover{
    color: white;
} 

p{
    text-align: center;
    font-family:'Caveat', cursive;
    color: rgb(71, 71, 71);
    position: relative;
    top:0.2em;
    bottom: 0.5em;
    font-size:2em ;
    word-spacing:0.2em ; 
    margin: 0.2em; 
}


@media(min-width:540px) and (max-width:1071px)
{ 
   
    .padre{
         display: flex;
         flex-direction: column;  
    }
    .intereses{
         display: flex;
         flex-direction:column;
         justify-content: center;      
     }
    .cerebro{
         width: 75vw;
    }
    h1{
         font-size: 4.5em ;   
    }
}

@media (max-width:710px)
{ 
    .padre{
         display: flex;
         flex-direction: column;
    }
    
    .cite{
         margin-top: 1%;
         font-size: 1.5em;
         font-display: center;
    }
    .intereses{
         display: flex;
         flex-direction: column;
         justify-content:center; 
         width: 25%;
         height: 15%;
    }
    .cerebro{
        width: 75vw;
    }
    .grid{
         grid-template-columns: 3fr 2fr ;
         grid-template-rows: 2fr 1fr 2fr;
         left: 0.5em;
         grid-column-gap: 20px;
    }
    .grid p b {
         font-size: ;
    }
    h1{
         font-size: 3.5em;   
    }
 
}

@media (max-width:376px)
{
    .grid{
         grid-template-columns: 3fr;
         grid-template-rows: 2fr 1fr 2fr 1fr;
         left: 0.5em;
    }
    .grid p b {
         font-size:1.2em ;
    }
    h1{
         font-size:2.5em ;   
    }
    .padre{
         display: flex;
         flex-direction: column;
    }
    h1{
         font-size: 2.5em;   
    }
}