h1{
    margin-top: 10%;
    font-family: 'Caveat', cursive;
    text-align: center;
    font-size:2.5em ;   
}
body{
    background-color: rgba(46, 150, 150, 0.541);
}

.menu{
   background: rgba(204, 204, 204, 0.685);
}

a{
    text-decoration: none;
    margin: 2px 10px 2px 10px;
    text-align: left;
}
.menu li{
    list-style: none;
    padding:5px;
    font: bold 18px 'Caveat', cursive;
    display: inline-block;
    text-decoration: none;

} 


.padre{
    display:flex; 
    flex-direction:row;
    flex-wrap:nowrap ;
    align-items: center;
    justify-content:space-around;
    width: 100%;
    height: 100%;
    font-size: 100%;
    font-family:'Caveat', cursive;
    align-items: center;   
}

.hijo{
    height: inherit;
}

.texto{
    color: white;
    text-align: center;
    position:relative;
    bottom: 66px;
    left:0 ;
    text-shadow: 3px 3px 3px #424242;
    font-family:'Caveat', cursive;
}
.texto2{
    color: white;
    text-align: center;
    position:relative;
    margin-bottom: 10px;
    text-shadow: 3px 3px 3px #424242;
    font-family:'Caveat', cursive;
}
    .entrada{
    border-radius: 50%;
    width: 100%;
    box-shadow: 5px 5px 10px #424242;
   }
    /* .hijo3{
    filter: drop-shadow(0 2px 10px rgba(0,0,0,0.7));
    background: none repeat scroll 50% 50% ; */
}

/* .intereses{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%; */
}

.hobby,.ciudad,.brooklyn{
    /* display:inline-block; */
    
    
}
.cerebro{
    height:auto;
    align-items: center;
    width: 45vw;
    margin-left:auto;
    margin-right: auto;
    display: block;
}

/* .collage{ 
    display: flex;
    justify-content:space-around;
    background:red;
    height: 100%;
    width: 70%;
    margin: left; 
    z-index:-1; 
}


.ciudad{
    position: absolute;
    z-index: -;
    width: 37%;
    height: auto;
    margin-right:;
    filter: drop-shadow(0 10px 7px rgba(0, 0, 0, 0.87));
    background: none repeat scroll 50% 50% ;
   
}

.brooklyn {
    position:absolute ;
    z-index: 1;
    width: 30%;
    height: auto;
    filter: drop-shadow(0 18px 7px rgba(0, 0, 0, 0.808));
    background: none repeat scroll 50% 50% ;  
}

.hobby{
    position:absolute ;
    z-index: 1;
    width: 35%;
    height: auto;
    margin-right:;
    filter: drop-shadow(0 30px 7px rgba(0, 0, 0, 0.74));
    background: none repeat scroll 50% 50% ;
   
}

*/
   
}

@media(min-width:540px) and (max-width:1071px)
{ 
   
    .padre{
        display: flex;
        flex-direction: column;  
    }


     .intereses{
            display: flex;
            flex-direction:column;
            justify-content: center;      
     }
    .cerebro{
        width: 75vw;
    }
}

@media (max-width:710px)
{ 
   
    .padre{
        display: flex;
        flex-direction: column;
        justify-content:space-around; 
        width: 40%;
        height: 30%;
    }
    
    .cite{
        margin-top: 1%;
        font-size: 1.5em;
        font-display: center;
    }
    .intereses{
        display: flex;
        flex-direction: column;
        justify-content:center; 
        width: 25%;
        height: 15%;
    }
    .cerebro{
        width: 75vw;
    }
}

@media (min-width:320px)
