h1{
    margin-top: 10%;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    font-weight:50% ;
    
}

.padre{
    display:flex; 
    justify-content:space-around;
    width: 100%;
    height: 100%;
    font-size: 70%;
    font-family: 'Courier New', Courier, monospace;
    align-items: flex-start;   
}

h2{
    text-align: center;
}

img{
    border-radius: 50%;
}
    
