h1{
    margin-top: 10%;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

.padre{
    display:flex;
    justify-content: space-around;
    font-size: 20%;
    font-family: 'Courier New', Courier, monospace;
    
}

 img{
    width: 40%;
    display: block;
    border-radius: 50%;
}